Datasets Used:
- [QuAC](https://quac.ai)
    - [Dataset](https://huggingface.co/datasets/quac)
- [SQL Dataset](https://huggingface.co/datasets/b-mc2/sql-create-context)

In [1]:
import pandas as pd
from datasets import list_datasets
from datasets import load_dataset
import random

In [2]:
datasets_list = list_datasets()

/var/folders/7b/b8w28gs17pj2ywysqf9_f3240000gn/T/ipykernel_60194/3387996211.py:1: FutureWarning: list_datasets is deprecated and will be removed in the next major version of datasets. Use 'huggingface_hub.list_datasets' instead.
  datasets_list = list_datasets()

In [3]:
def load_hf_dataset_to_pandas(dataset_name, split='train', config_name=None):
    """
    Load a dataset from Hugging Face using the datasets library and convert it to a Pandas DataFrame.

    Parameters:
    - dataset_name (str): The name of the Hugging Face dataset.
    - split (str): The split of the dataset to load (e.g., 'train', 'test', 'validation'). Default is 'train'.
    - config_name (str or None): The name of the dataset configuration. Default is None.

    Returns:
    - pd.DataFrame: A Pandas DataFrame containing the specified dataset split.
    """
    # Load the dataset with the specified config if provided
    dataset = load_dataset(dataset_name, config_name)

    # Print available splits for better understanding
    available_splits = list(dataset.keys())
    print(f"Available splits: {available_splits}")

    # Access the specified split or default to 'train' if it doesn't exist
    if "train" in available_splits:
        dataset_split = dataset.get(split, dataset.get('train'))
        print("**Train** data is used")
    else:
        random_key = random.choice(list(dataset.keys()))
        dataset_split = dataset.get(split, dataset.get(random_key))
        print(f"**{random_key}** data is used")

    # Convert to Pandas DataFrame
    df = dataset_split.to_pandas()

    return df

In [4]:
## Quac Data

quac_df = load_hf_dataset_to_pandas("quac")
quac_df

Available splits: ['train', 'validation']
**Train** data is used

,dialogue_id,wikipedia_page_title,background,section_title,context,turn_ids,questions,followups,yesnos,answers,orig_answers
0,C_69758fcdfc1f46baba0e92c0f3b0919c_1,Malayali,The Malayali people or Keralite people (also s...,Geographic distribution and population,"According to the Indian census of 2001, there ...","[C_69758fcdfc1f46baba0e92c0f3b0919c_1_q#0, C_6...","[Where is Malayali located?, What other langua...","[2, 1, 1, 1, 1, 1, 1]","[2, 2, 2, 2, 2, 0, 2]","{'texts': [['30,803,747 speakers of Malayalam ...","{'texts': ['30,803,747 speakers of Malayalam i..."
1,C_69758fcdfc1f46baba0e92c0f3b0919c_0,Malayali,The Malayali people or Keralite people (also s...,Language and literature,Malayalam is the language spoken by the Malaya...,"[C_69758fcdfc1f46baba0e92c0f3b0919c_0_q#0, C_6...","[what language do they speak?, Do they speak a...","[0, 0, 0, 0, 0, 0, 0]","[2, 2, 2, 2, 2, 2, 2]",{'texts': [['Malayalam is the language spoken ...,{'texts': ['Malayalam is the language spoken b...
2,C_de8ea5cde2934ac2899df443ca40d105_0,Saosin,Saosin is an American post-hardcore band from ...,Arrival of Cove Reber and Saosin EP (2004-2006),After the audition process and several guest v...,"[C_de8ea5cde2934ac2899df443ca40d105_0_q#0, C_d...","[What do we know about Cove Reber?, How did he...","[0, 0, 0, 0, 1, 1, 1]","[2, 2, 2, 2, 2, 2, 2]",{'texts': [['19-year-old Cove Reber was announ...,{'texts': ['19-year-old Cove Reber was announc...
3,C_de8ea5cde2934ac2899df443ca40d105_1,Saosin,Saosin is an American post-hardcore band from ...,Formation and Translating the Name (2003-2004),"The original lineup for Saosin, consisting of ...","[C_de8ea5cde2934ac2899df443ca40d105_1_q#0, C_d...","[Who formed Saosin?, When was the band founded...","[0, 0, 0, 0, 0, 0, 2, 0, 0, 0]","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","{'texts': [['original lineup for Saosin, consi...","{'texts': ['original lineup for Saosin, consis..."
4,C_801cea2613fb426c9e166d86426e2ac8_0,Coolio,"Artis Leon Ivey Jr. (born August 1, 1963), kno...",Red Hot Organization and Tommy Boy Records dis...,"In 1996, Coolio appeared on the Red Hot Organi...","[C_801cea2613fb426c9e166d86426e2ac8_0_q#0, C_8...","[How was he associated to Tommy Boy?, Why was ...","[2, 2, 2, 2, 2, 2, 2, 2]","[2, 2, 2, 2, 2, 2, 0, 2]",{'texts': [['Coolio was dropped from Tommy Boy...,{'texts': ['Coolio was dropped from Tommy Boy ...
...,...,...,...,...,...,...,...,...,...,...,...
11562,C_6647a5e7220c4cb9833b85748d449e24_1,André the Giant,"Andre Roussimoff was born in Moliens, the son ...",Early career,"At the age of 17, Roussimoff moved to Paris an...","[C_6647a5e7220c4cb9833b85748d449e24_1_q#0, C_6...","[When did Andre start his career?, Did he wres...","[0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0]","[2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0]","{'texts': [['At the age of 17, Roussimoff move...","{'texts': ['At the age of 17, Roussimoff moved..."
11563,C_6647a5e7220c4cb9833b85748d449e24_0,André the Giant,"Andre Roussimoff was born in Moliens, the son ...",Sporadic appearances (1990-1992),"Andre returned in the winter of 1990, but it w...","[C_6647a5e7220c4cb9833b85748d449e24_0_q#0, C_6...","[What appearances did he make in 1990?, Did he...","[2, 0, 0, 2, 1, 1, 0, 2, 1, 0, 2, 1]","[2, 0, 0, 0, 2, 2, 0, 1, 2, 0, 2, 2]","{'texts': [['Instead, Andre made an interview ...","{'texts': ['Instead, Andre made an interview a..."
11564,C_a2e6d137cb274a0891b74b29f3c7ab97_0,Affirmed,"Affirmed (February 21, 1975 - January 12, 2001...",The Triple Crown,Alydar was made the 6-5 favorite for Kentucky ...,"[C_a2e6d137cb274a0891b74b29f3c7ab97_0_q#0, C_a...","[Did Affirmed win the triple crown, Which race...","[0, 0, 0, 0, 1, 1]","[0, 2, 2, 2, 2, 2]",{'texts': [['His Triple Crown win set two reco...,{'texts': ['His Triple Crown win set two recor...
11565,C_7bcb15945e484623b6e1d6f074af3e14_0,Sonata Arctica,Sonata Arctica is a Finnish power metal band f...,Unia and The Days of Grays (2007-2011),"On May 25, 2007, Unia was released. The album'...","[C_7bcb15945e484623b6e1d6f074af3e14_0_q#0, C_7...",[Who were the members of the band during this ...,"[0, 2, 1, 2, 1, 2, 1]","[2, 2, 2, 2, 2, 2, 2]",{'texts': [['Jani Liimatainen had been asked t...,{'texts': ['Jani Liimatainen had been asked to...
11566,C_7bcb15945e484623b6e1d6f074af3e14_1,Sonata Arctica,Sonata Arctica is a Finnish power metal band f...,Formation and early years (1996-1999),The band was founded by Marko Paasikoski (guit...,"[C_7bcb15945e484623b6e1d6f074af3e14_1_q#0, C_7...","[How was the grouped formed?, Did they know ea...","[0, 0, 0, 0, 0, 0]","[2, 2, 2, 2, 2, 2]",{'texts': [['The band was founded by Marko Paa...,{'texts': ['The band was founded by Marko Paas...

In [5]:
## b-mc2/sql-create-context

sql_df = load_hf_dataset_to_pandas('b-mc2/sql-create-context')
sql_df

Available splits: ['train']
**Train** data is used

,answer,context,question
0,SELECT COUNT(*) FROM head WHERE age > 56,CREATE TABLE head (age INTEGER),How many heads of the departments are older th...
1,"SELECT name, born_state, age FROM head ORDER B...","CREATE TABLE head (name VARCHAR, born_state VA...","List the name, born state and age of the heads..."
2,"SELECT creation, name, budget_in_billions FROM...","CREATE TABLE department (creation VARCHAR, nam...","List the creation year, name and budget of eac..."
3,"SELECT MAX(budget_in_billions), MIN(budget_in_...",CREATE TABLE department (budget_in_billions IN...,What are the maximum and minimum budget of the...
4,SELECT AVG(num_employees) FROM department WHER...,CREATE TABLE department (num_employees INTEGER...,What is the average number of employees of the...
...,...,...,...
78572,"SELECT time FROM table_name_35 WHERE score = ""...","CREATE TABLE table_name_35 (time VARCHAR, scor...",What time was the match played with a score of...
78573,SELECT ground FROM table_name_83 WHERE opponen...,"CREATE TABLE table_name_83 (ground VARCHAR, op...",On which ground did the team play Aston Villa?
78574,SELECT competition FROM table_name_60 WHERE gr...,CREATE TABLE table_name_60 (competition VARCHA...,What kind of competition was it at San Siro at...
78575,SELECT COUNT(decile) FROM table_name_34 WHERE ...,"CREATE TABLE table_name_34 (decile VARCHAR, na...",What is the total number of decile for the red...
78576,SELECT report FROM table_name_71 WHERE circuit...,"CREATE TABLE table_name_71 (report VARCHAR, ci...",Which report includes a Circuit of Tripoli?